body {
  font-family: Arial, Helvetica, sans-serif;
}
h4{
  text-align: center;
}
/* Style the header */
header {
  background-color: #666;
  padding: 1px;
  text-align: center;
  font-size: 13px;
  color: white;
}
.tooltip_grouped_bar {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: #515A5A;
  border: 0 none;
  border-radius: 4px;
  color: #ffffff;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}
/* Styling the contianers we have created for rows and columns */
div {
  position: absolute;
}
#patent_map_view {
  top: 0;
  left: 0;
}
#trends_cpc_classes_and_types {
  top: 50%;
  left: 0;
}
#relation_between_cpc_classes {
  top: 0;
  left: 35%;
}
#heat_map{
  top: -10px;;
  left:65%;
}
#assigne_stock{
  top:50%;
  left:35%;
  /* width: 50%;
  height: 50%; */
}
/* #cpc_classes_network_graph {
  top: 20%;
  left: 10%;
  height:100%;
  width:50%;
} */

#assignee_bargrouped {
  top: 50%;
  left:60%;
}

#assigne_bubble {
  top: 20%;
  left: 10%;
  height:100%;
  width:50%;
}
#assignee_line {
  top :20%;
  left: 50%;
  height: 100%;
  width: 50%;
}

/* Create two columns/boxes floating next to each other */
 nav {
  float: left;
  width: 50%;
  height: 750px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
 nav ul {
  list-style-type: none;
  padding: 0;
} 

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

.legend {
  position: absolute;
  left: 20px;
  top: 30px;
}

.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: rgb(0, 0, 0);
  shape-rendering: crispEdges;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 300px;
  height: 150px;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 1px;
  border-radius: 8px;
  pointer-events: none;
  box-shadow: 1px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
} 